[ -f ~/.envrc ] && source ~/.envrc
[ -f $PWD/.env ] && source $PWD/.env

export PATH=$PWD/Build/:$PATH

# Please change below to suite your needs
# https://superuser.com/questions/232373/how-to-tell-git-which-private-key-to-use

export GIT_SSH_COMMAND='ssh -i ~/.ssh/realorko -F /dev/null'
